@media (max-width:575.98px){
    .main-screen{
        /* text-align: center; */
        background: rgba(73, 62, 57, 0.76);
        width: 21.7rem;
        height: 24rem;
        margin-left: 2%;
        margin-top: 7rem;
        border: solid black 2px;
        border-radius: 10px;
    }
    .screen{
        width: 92%;
        height: 16%;
        background: white;
        margin-left: 14px;
        margin-top: 10px;
        margin-right: 5px;
        /*! border: solid black 2px; */
        border-radius: 13px;
    }
    .bttns{
        width: 97%;
        height: 75%;
        margin-left: -10px;
        margin-top: 23px;
    }
    .row1{
        /* background: red; */
        width: 100%;
        height: 15%;
        margin-bottom: 12px;
    }
    .row2{
        /* background: red; */
        width: 100%;
        height: 15%;
        margin-bottom: 12px;
    }
    .row3{
        /* background: red; */
        width: 100%;
        height: 15%;
        margin-bottom: 12px;
    }
    .row4{
        /* background: red; */
        width: 100%;
        height: 15%;
        margin-bottom: 12px;
    }
    .row5{
        /* background: red; */
        width: 100%;
        height: 15%;
        margin-bottom: 12px;
    }
    .bttn{
        width: 2.7rem;
        height: 2.5rem;
        margin-left: 2.3rem;
        border: solid black 2px;
        border-radius: 20%;
    }
    .ac{ 
        width: 2.7rem;
        height: 2.5rem;
        margin-right: 0.1rem;
        float: right;
        border: solid black 2px;
        border-radius: 20%;
    }
    #screen{
        cursor: pointer;
        width: 100%;
        height: 100%;
        background: white;
        /*! margin-left: 10px; */
        /*! margin-top: 10px; */
        /*! margin-right: 5px; */
        border: solid black 4px;
        border-radius: 11px;
        text-align: right;
        font-size: 28px;
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;
    }
}
@media (min-width: 576px) {
    .main-screen{
        /* text-align: center; */
        background: rgba(73, 62, 57, 0.76);
        width: 25rem;
        height: 28rem;
        margin-left: 27%;
        margin-top: 8rem;
        border: solid black 2px;
        border-radius: 10px;
    }
    .screen{
        width: 92%;
        height: 16%;
        background: white;
        margin-left: 10px;
        margin-top: 10px;
        margin-right: 5px;
        /*! border: solid black 2px; */
        border-radius: 13px;
    }
    .bttns{
        width: 97%;
        height: 75%;
        margin-left: 6px;
        margin-top: 23px;
    }
    .row1{
        /* background: red; */
        width: 100%;
        height: 15%;
        margin-bottom: 12px;
    }
    .row2{
        /* background: red; */
        width: 100%;
        height: 15%;
        margin-bottom: 12px;
    }
    .row3{
        /* background: red; */
        width: 100%;
        height: 15%;
        margin-bottom: 12px;
    }
    .row4{
        /* background: red; */
        width: 100%;
        height: 15%;
        margin-bottom: 12px;
    }
    .row5{
        /* background: red; */
        width: 100%;
        height: 15%;
        margin-bottom: 12px;
    }
    .bttn{
        width: 3rem;
        height: 3rem;
        margin-left: 2.3rem;
        border: solid black 2px;
        border-radius: 20%;
    }
    .ac{ 
        width: 3rem;
        height: 3rem;
        margin-right: 2.4rem;
        float: right;
        border: solid black 2px;
        border-radius: 20%;
    }
    #screen{
        cursor: pointer;
        width: 100%;
        height: 100%;
        background: white;
        /*! margin-left: 10px; */
        /*! margin-top: 10px; */
        /*! margin-right: 5px; */
        border: solid black 4px;
        border-radius: 11px;
        text-align: right;
        font-size: 28px;
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;
    }
}

@media (min-width: 768px) {
    .main-screen{
        /* text-align: center; */
        background: rgba(73, 62, 57, 0.76);
        width: 25rem;
        height: 28rem;
        margin-left: 37%;
        margin-top: 8rem;
        border: solid black 2px;
        border-radius: 10px;
    }
    .screen{
        width: 92%;
        height: 16%;
        background: white;
        margin-left: 10px;
        margin-top: 10px;
        margin-right: 5px;
        /*! border: solid black 2px; */
        border-radius: 13px;
    }
    .bttns{
        width: 97%;
        height: 75%;
        margin-left: 6px;
        margin-top: 23px;
    }
    .row1{
        /* background: red; */
        width: 100%;
        height: 15%;
        margin-bottom: 12px;
    }
    .row2{
        /* background: red; */
        width: 100%;
        height: 15%;
        margin-bottom: 12px;
    }
    .row3{
        /* background: red; */
        width: 100%;
        height: 15%;
        margin-bottom: 12px;
    }
    .row4{
        /* background: red; */
        width: 100%;
        height: 15%;
        margin-bottom: 12px;
    }
    .row5{
        /* background: red; */
        width: 100%;
        height: 15%;
        margin-bottom: 12px;
    }
    .bttn{
        width: 3rem;
        height: 3rem;
        margin-left: 2.3rem;
        border: solid black 2px;
        border-radius: 20%;
    }
    .ac{ 
        width: 3rem;
        height: 3rem;
        margin-right: 2.4rem;
        float: right;
        border: solid black 2px;
        border-radius: 20%;
    }
    #screen{
        cursor: pointer;
        width: 100%;
        height: 100%;
        background: white;
        /*! margin-left: 10px; */
        /*! margin-top: 10px; */
        /*! margin-right: 5px; */
        border: solid black 4px;
        border-radius: 11px;
        text-align: right;
        font-size: 28px;
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;
    }
}

@media (min-width: 992px) {
    .main-screen{
        /* text-align: center; */
        background: rgba(73, 62, 57, 0.76);
        width: 25rem;
        height: 28rem;
        margin-left: 37%;
        margin-top: 8rem;
        border: solid black 2px;
        border-radius: 10px;
    }
    .screen{
        width: 92%;
        height: 16%;
        background: white;
        margin-left: 10px;
        margin-top: 10px;
        margin-right: 5px;
        /*! border: solid black 2px; */
        border-radius: 13px;
    }
    .bttns{
        width: 97%;
        height: 75%;
        margin-left: 6px;
        margin-top: 23px;
    }
    .row1{
        /* background: red; */
        width: 100%;
        height: 15%;
        margin-bottom: 12px;
    }
    .row2{
        /* background: red; */
        width: 100%;
        height: 15%;
        margin-bottom: 12px;
    }
    .row3{
        /* background: red; */
        width: 100%;
        height: 15%;
        margin-bottom: 12px;
    }
    .row4{
        /* background: red; */
        width: 100%;
        height: 15%;
        margin-bottom: 12px;
    }
    .row5{
        /* background: red; */
        width: 100%;
        height: 15%;
        margin-bottom: 12px;
    }
    .bttn{
        width: 3rem;
        height: 3rem;
        margin-left: 2.3rem;
        border: solid black 2px;
        border-radius: 20%;
    }
    .ac{ 
        width: 3rem;
        height: 3rem;
        margin-right: 2.4rem;
        float: right;
        border: solid black 2px;
        border-radius: 20%;
    }
    #screen{
        cursor: pointer;
        width: 100%;
        height: 100%;
        background: white;
        /*! margin-left: 10px; */
        /*! margin-top: 10px; */
        /*! margin-right: 5px; */
        border: solid black 4px;
        border-radius: 11px;
        text-align: right;
        font-size: 28px;
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;
    }
}

@media (min-width: 1200px) {
    .main-screen{
        /* text-align: center; */
        background: rgba(73, 62, 57, 0.76);
        width: 25rem;
        height: 28rem;
        margin-left: 37%;
        margin-top: 8rem;
        border: solid black 2px;
        border-radius: 10px;
    }
    .screen{
        width: 92%;
        height: 16%;
        background: white;
        margin-left: 10px;
        margin-top: 10px;
        margin-right: 5px;
        /*! border: solid black 2px; */
        border-radius: 13px;
    }
    .bttns{
        width: 97%;
        height: 75%;
        margin-left: 6px;
        margin-top: 23px;
    }
    .row1{
        /* background: red; */
        width: 100%;
        height: 15%;
        margin-bottom: 12px;
    }
    .row2{
        /* background: red; */
        width: 100%;
        height: 15%;
        margin-bottom: 12px;
    }
    .row3{
        /* background: red; */
        width: 100%;
        height: 15%;
        margin-bottom: 12px;
    }
    .row4{
        /* background: red; */
        width: 100%;
        height: 15%;
        margin-bottom: 12px;
    }
    .row5{
        /* background: red; */
        width: 100%;
        height: 15%;
        margin-bottom: 12px;
    }
    .bttn{
        width: 3rem;
        height: 3rem;
        margin-left: 2.3rem;
        border: solid black 2px;
        border-radius: 20%;
    }
    .ac{ 
        width: 3rem;
        height: 3rem;
        margin-right: 2.4rem;
        float: right;
        border: solid black 2px;
        border-radius: 20%;
    }
    #screen{
        cursor: pointer;
        width: 100%;
        height: 100%;
        background: white;
        /*! margin-left: 10px; */
        /*! margin-top: 10px; */
        /*! margin-right: 5px; */
        border: solid black 4px;
        border-radius: 11px;
        text-align: right;
        font-size: 28px;
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;
    }
}

@media (min-width: 1400px) {
    .main-screen{
        /* text-align: center; */
        background: rgba(73, 62, 57, 0.76);
        width: 25rem;
        height: 28rem;
        margin-left: 37%;
        margin-top: 4rem;
        margin-bottom: 5rem;
        border: solid black 2px;
        border-radius: 10px;
    }
    .screen{
        width: 92%;
        height: 16%;
        background: white;
        margin-left: 10px;
        margin-top: 10px;
        margin-right: 5px;
        /*! border: solid black 2px; */
        border-radius: 13px;
    }
    .bttns{
        width: 97%;
        height: 75%;
        margin-left: 6px;
        margin-top: 23px;
    }
    .row1{
        /* background: red; */
        width: 100%;
        height: 15%;
        margin-bottom: 12px;
    }
    .row2{
        /* background: red; */
        width: 100%;
        height: 15%;
        margin-bottom: 12px;
    }
    .row3{
        /* background: red; */
        width: 100%;
        height: 15%;
        margin-bottom: 12px;
    }
    .row4{
        /* background: red; */
        width: 100%;
        height: 15%;
        margin-bottom: 12px;
    }
    .row5{
        /* background: red; */
        width: 100%;
        height: 15%;
        margin-bottom: 12px;
    }
    .bttn{
        width: 3rem;
        height: 3rem;
        margin-left: 2.3rem;
        border: solid black 2px;
        border-radius: 20%;
    }
    .ac{ 
        width: 3rem;
        height: 3rem;
        margin-right: 2.4rem;
        float: right;
        border: solid black 2px;
        border-radius: 20%;
    }
    #screen{
        cursor: pointer;
        width: 100%;
        height: 100%;
        background: white;
        /*! margin-left: 10px; */
        /*! margin-top: 10px; */
        /*! margin-right: 5px; */
        border: solid black 4px;
        border-radius: 11px;
        text-align: right;
        font-size: 28px;
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;
    }
}
.bttn:hover{
    border: solid black 3px;
    border-radius: 25%;
}
.ac:hover{
    border: solid black 3px;
    border-radius: 25%; 
}
footer{
    margin-top: 1rem;
    background: #222;
    width: 100%;
    height: 10rem;
}
.cc{
    color: white;
    font-size: smaller;
    font-weight: lighter;
    text-align: center;
}
.socail-items{
    text-align: center;
}
.socail-title{
    color: white;
    text-align: center;
}
.icon{
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 20px;
}
.owner{
    color: white;
    text-decoration: none;
}