@media (max-width:1920px){
    .main-screen{
        text-align: center;
        background: gray;
        width: 25rem;
        height: 28rem;
        margin-left: 37%;
        margin-top: 8rem;
        border: solid black 2px;
    }
    .screen{
        width: 97%;
        height: 12%;
        background: white;
        margin-left: 6px;
        margin-top: 5px;
        margin-right: 5px;
    }
}